@media screen and (min-width: 550px){

    body, html{
        padding: 0;
    }
    .card{
        display: flex;
        overflow: auto;
        margin: 3rem 1rem;
    }

    .card__img{
        display: none;
    }

    .card__img-desktop{
        display: block;
        width: 50%;
    }

    .container{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .card__textos, .action{
        padding: 0 10%;
    }

    .card__textos__texto{
        line-height: 1.3rem;
    }

    .precos{
        margin-bottom: 1.5rem;
    }

    .cta__button:hover{
        background-color: var(--Very-dark-cyan);
    }
}